# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
dist/
build/

# Env
.env
*.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Vector DB local files
chroma_db/
faiss_index/
*.index

# Models
*.bin
*.gguf
*.safetensors
models/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
